* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #faf8f3;
}

section {
    background-image: url("https://drive.google.com/uc?export=view&id=1SHYmrZK5WQoLikhKtp50Z-ZgKJoqMgMs");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section .menu {
    width: fit-content;
    margin-left: 1rem;
}

section .menu span {
    width: 4rem;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

section .menu ul {
    display: none;
    list-style: none;
    position: absolute;
    text-align: left;
    margin: 0rem 0rem 0rem 0.5rem;
    font-size: 1.5rem;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu li a:hover {
    text-decoration: underline;
    color: #b77e49;
}

section .menu:hover ul, ul:hover {
    display: block;
}

section .cointainer_countdown {
    background-color: rgba(182, 125, 72, 0.5);
    width: fit-content;
    height: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    align-self: center;
}

.cointainer_countdown p {
    font-size: 1.3rem;
    font-family:'Kaisei HarunoUmi', serif;
    font-weight: 500;
    text-align: center;
    padding: 0.1rem 1rem;
}

section .gps_button {
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    left: 0rem;
    top: 45vh;
    background-color: rgba(164, 179, 195, 0.8);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;    
}

/* section .gps_img {
    width: 3rem;
} */

section .confirmation {
    text-decoration: none;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.3rem 1rem 0rem 1rem;
    background-color: rgba(182, 125, 72, 0.5);  /* rgba(181, 203, 193, 0.5) rgba(182, 125, 72, 0.5)  */
    width: fit-content;
    height: 2rem;
    text-align: center;
    align-self: center;
    position: absolute;
    bottom: 0px;
    font-family: 'Baskervville', serif;
}

#sidebar {
    padding-right: 0.3rem;
    height: 7rem;
    border:1px solid #a4b3c3;
    border-right: none;
    background-color: #fff7eb;
    position: fixed;
    display: flex;
    right: -21.6rem;
    top: 83%;
    align-items: center;
    z-index: 10;
}

#sidebar.active {
    right: 0;
}

#sidebar .sidebar_tab {
    padding-top: 0.2rem;
    position: absolute;
    right: 21.6rem;
    cursor: pointer;
    border-radius: 5rem;
}

.sidebar_tab img {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

#sidebar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.sidebar_dress p{
    text-align: center;
    color: #b77e49;
    font-weight: bold;
}

.sidebar_dress-p{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1rem;
}

.sidebar_dress li {
    padding-left: 0.3rem;
}

#sidebar ul li {
    margin-right: 0.3rem;
}

#sidebar ul li a img{
    border-radius: 0.8rem;
}


.sidebar_dress img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;    
}

footer {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .wpp_logo {
    width: 3rem;
    margin-right: 1rem;
}