* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #faf8f3;
}

header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .menu {
    margin-right: 2rem;
}

header .menu span {
    width: 4rem;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

header .menu ul {
    display: none;
    list-style: none;
    position: absolute;
    text-align: right;
    margin: 0rem 0rem 0rem -6.2rem;
    font-size: 1.5rem;
}

header .menu:hover ul, ul:hover {
    display: block;
}

section .invitation {
    width: 20rem;
}

#sidebar {
    width: 16.8rem;
    height: 6rem;
    position: fixed;
    background-color: aqua;
    display: flex;
    left: -10rem;
}

#sidebar.active {
    left: 0;
}

#sidebar .sidebar_tab {
    position: absolute;
    left: 10rem;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#sidebar ul {
    display: flex;
    list-style: none;
    border: 1px solid black;
}

.sidebar_tab img{
    padding-top: 0.3rem;
    width: 4rem;
}

.sidebar_dress img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}