* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #faf8f3;
}

section {
    background-image: url("https://res.cloudinary.com/stovarm/image/upload/v1631803306/Wedding_Web/Invitation_mobile_ypu5mb.jpg");
    background-size: cover;
    background-position: center;
    height: 100vmax;
    display: flex;
    flex-direction: column;
}

section .menu {
    width: fit-content;
    margin-left: 1rem;
}

section .menu span {
    width: 4rem;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

section .menu ul {
    display: none;
    list-style: none;
    position: absolute;
    text-align: left;
    margin: 0rem 0rem 0rem 0.5rem;
    font-size: 1.5rem;
}

.menu li {
    margin-top: 0.5rem;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu li a:hover {
    text-decoration: underline;
    color: #b77e49;
}

section .menu:hover ul, ul:hover {
    display: block;
}

section .cointainer_countdown {
    background-color: rgba(124, 149, 120, 1);
    width: fit-content;
    height: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    align-self: center;
    color: white;
}

.cointainer_countdown p {
    font-size: 1.3rem;
    font-family:'Kaisei HarunoUmi', serif;
    font-weight: 500;
    text-align: center;
    padding: 0.1rem 1rem;
}

section .gps_button {
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    left: 0rem;
    top: 45vh;
    background-color: rgba(164, 179, 195, 0.8);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;    
}

/* section .gps_img {
    width: 3rem;
} */

section .confirmation {
    text-decoration: none;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 0.3rem 1rem 0rem 1rem;
    background-color: rgba(124, 149, 120, 1);  /* rgba(181, 203, 193, 0.5) rgba(182, 125, 72, 0.5)  */
    width: fit-content;
    height: 2.5rem;
    text-align: center;
    align-self: center;
    position: absolute;
    bottom: 0px;
    font-family: 'Kaisei HarunoUmi', serif;
}

#sidebar {
    padding-right: 0.3rem;
    height: 9rem;
    border:1px solid #a4b3c3;
    border-right: none;
    background-color: #fff7eb;
    position: fixed;
    display: flex;
    right: -25.1rem;
    top: 83vh;
    align-items: center;
    z-index: 10;
}

#sidebar.active {
    right: 0;
}

#sidebar .sidebar_tab {    
    padding-top: 0.2rem;
    position: absolute;
    right: 25.1rem;
    cursor: pointer;
    border-radius: 5rem;
}

.sidebar_tab img {
    width: 1.8rem;
    height: 9rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

#sidebar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.sidebar_dress p{
    text-align: center;
    color: #b77e49;
    font-weight: bold;
    font-size: 1.2rem;
}

.sidebar_dress-p{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.2rem;
}

.sidebar_dress li {
    padding-left: 0.3rem;
}

#sidebar ul li {
    margin-right: 0.3rem;
}

#sidebar ul li a img{
    border-radius: 0.8rem;
}

.sidebar_dress img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;    
}

/* footer {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .wpp_logo {
    width: 3rem;
    margin-right: 1rem;
} */

/* .kreep {
    position: fixed;
    right: 0;
    top: 70%;
}

.button5 {
    background-color: #a4b3c3;
    border: 2px solid #a4b3c3;
    width: 2rem;
    height: 7rem;
    display: inline-block;
    -webkit-transition-duration: 0.4s;  Safari 
    transition-duration: 0.4s;
    cursor: pointer;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.button5:hover {
    background-color: #555555;
} */

/*Bounce*/
@keyframes sidebar_tab {
    0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

div.sidebar_tab {
  display: inline-block;
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: sidebar_tab 0.7s ease 2s infinite alternate;
}

div.sidebar_tab:hover {
  animation: none;
}