* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(#bffde9, #cde0fd);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

.titles {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 100vh;
}

.titles h1 {
    font-size: 3rem;
    align-self: center;
    font-family: cursive;
}
.titles h2 {
    font-size: 1.8rem;
    align-self: center;
    font-family: monospace;
}

.titles h3 {
    margin-top: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    align-self: flex-end;
    text-align: right;
}

.titles p {
    font-size: 2rem;
    font-family: monospace;
    align-self: flex-end;
    margin-top: 3rem;
    margin-right: 2rem;
    text-align: center;
}

.titles a {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2.5rem;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: monospace;
    height: 3rem;
    letter-spacing: 0.1rem;
    margin-right: 1.5rem;
    padding: 0.5rem 2rem;
    width: fit-content;
    text-decoration: none;
    align-self: flex-end;    
}

picture {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

picture img{
    width: 100vw;
}

.carrousel {
    width: 100%;
    overflow: scroll; /* propeidad para hacer el carrousel un scroll horizontal. */
    padding: 3rem;
    position: relative;
}

.carrousel_container {
    white-space: nowrap; /*por defecto se ubicarian los elementos hacía abajo, con esta propiedad los deja seguir */
    margin: 7rem 0rem;
    padding-bottom: 1rem;    
}

.carrousel_container:hover .carrousel-item {    /*cuando haga hover el elemento haga esto.... Opacarse*/
    opacity: 0.3;
}

.carrousel_container:hover .carrousel-item:hover {     /*Cuando haga hover el elemento que este hover haga esto...  Aumente su escala*/
    transform: scale(1.5);
    opacity: 1;   /*Cuando le haga hover vuelva a opacidad 100% */
}

.carrousel-item {
    width: 20rem;
    height: 25rem;
    border-radius: 2rem;
    overflow: hidden;
    margin-right: 1rem;
    display: inline-block;
    cursor: pointer;
    transition: 450ms;   /*Tiempo que se demora en hacer la animación... hace que se vea mas fluida  */
    transform-origin: center left;   /*Se centre comenzando desde la izq */
    position: relative;
    font-size: 2rem;
    cursor: pointer;
}

.carrousel-item:hover ~ .carrousel-item {  /*cuando haga hover y tmb sin hacerlo haga esto.... Desplazarse a la derecha */
    transform: translate3d(10rem, 0, 0);
}

.carrousel-item_img {
    width: 20rem;
    height: 25rem;
    object-fit: cover; /*Guardar la proporción de la imagen y que se acomode a las medidas que establecimos */
}